html {
  margin-left: calc(100vw - 100%);
  -ms-overflow-style: none;
}

* {
  text-align: center;
  /* border: 1px solid red; */
}

body,
.editList input {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url("https://wallpaperplay.com/walls/full/7/3/3/193175.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
}

.imgHome {
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgIndex {
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgShow {
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.listDiv {
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.listItemsIndex {
  color: black;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.invisible-spacer-box {
  color: rgba(255, 255, 255, 0);
}

.listNameIndex {
  display: block;
  width: 100%;
}

.delete-button {
  display: block;
  z-index: 1; /* Sit on top */
}

.listItemsShow {
  width: 40%;
  margin: auto;
  background: rgb(0, 90, 0);
  border-top: 1px solid rgb(0, 235, 0);
  color: white;
}

.listItemsEdit form {
  margin: 0;
  padding: 0;
}

.modal {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50vh; /* Location of the box */
  left: 0;
  top: 0;
  overflow: auto; /* Enable scroll if needed */

  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

::-webkit-scrollbar {
  display: none;
}

.closeTab {
  background: rgb(0, 41, 0);
  font-weight: bolder;
  margin-top: 2vh;
}

.editList {
  float: right;
  width: 150px;
  margin: 0;
  padding: 0;
}

.editList input {
  width: 100%;
  font-weight: bolder;
  background: rgb(16, 49, 16);
  border: 0px;
  color: white;
}

.editList:hover {
  cursor: pointer;
  background: blue;
}

.imageDiv {
  width: 20%;
  float: left;
}
.imageDiv img {
  width: 90%;
}

.searchItemTitle {
  margin: 2px 0 10px 0;
}

.nav-item {
  padding: 15px;
  text-decoration: none;
  color: black;
}

.nav-item:hover {
  color: rgba(0, 0, 0, 0.3);
}

nav {
  text-align: center;
  padding: 10px;
}

nav button {
  border: none;
  font-size: 15px;
}

.home-button {
  font-size: 24px;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: black;
  border: none;
}
