html {
  margin-left: calc(100vw - 100%);
  -ms-overflow-style: none;
}

* {
  text-align: center;
  /* border: 1px solid red; */
}

body,
.editList input, .searchDiv input {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url("https://wallpaperplay.com/walls/full/7/3/3/193175.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
}

.containerShow {
  display: flex;
  justify-content: space-between;
}

.imgHome {
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgNew {
  /* background-color: goldenrod; */
  /* border: 1px solid red; */

  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgIndex {
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.smallImg {
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  margin-right: auto;

  width: 3vh;
  height: 3vh;
}

.imgShow {
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.listDiv {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
  margin-top: 2vh;
  text-align: left;
}



.index-header {
  margin-left: 30px;
}

.listItemsIndex {
  color: black;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.listNameIndex {
  display: block;
  width: 25%;
  padding: 2vh;
  text-align: left;
  cursor: pointer;
  text-align: left;
}

.delete-button {
  display: block;
  padding: 2vh;
  cursor: pointer;
  padding-top: 20px;
  margin-left: 50px;

  /* makes it so users can't select spacer text */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.delete-button:hover {
  color: red;
}

.listItemsShow {
  width: 40%;
  margin: auto;
  background-color: white;
  color: black;
  padding: 2vh;
  border-radius: 10px;
}

.listItemsEdit form {
  margin: 2vh 2vh 0vh 2vh;
}

.modal {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50vh; /* Location of the box */
  left: 0;
  top: 0;
  overflow: auto; /* Enable scroll if needed */

  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

::-webkit-scrollbar {
  display: none;
}

.closeTab {
  background: white;
  font-weight: bolder;
  margin-top: 2vh;
  cursor: pointer;
  text-align: end;
  font-size: 15px;
}

.ownerName {
  font-weight: bold;
  margin: 0;
  padding: 0;

  /* makes it so users can't select spacer text */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.showTitle {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.addListItem {
  text-align: right;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  margin-bottom: 2vh;
  font-size: smaller;
  color: teal;

  cursor: pointer;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.editList {
  /* float: right; */
  /* width: 150px; */
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.editList input, .searchDiv input[type="submit"] {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  font-weight: bolder;
  border: 0px;
  /* color: white; */
  /* margin-top: 2vh; */
}

.editList:hover {
  cursor: pointer;
}

.editList input:hover {
  cursor: pointer;
}

.cancelUpdate {
  font-weight: bolder;
  cursor: pointer;
}

/* SEARCH Page */
.imgSearch {
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.formfields {
  margin-bottom: 2vh;
}

.imageDiv {
  width: 20%;
  float: left;
}
.imageDiv img {
  width: 90%;
}

.nav-item {
  padding: 15px;
  text-decoration: none;
  color: black;
}

.nav-item:hover {
  color: rgba(0, 0, 0, 0.3);
}

nav {
  text-align: center;
  padding: 10px;
}

nav button {
  border: none;
  font-size: 15px;
}

.home-button {
  font-size: 24px;
  padding: 10px;
  display: block;
  text-align: center;
  color: black;
  border: none;
  text-decoration: none;
}

.home-button:hover {
  opacity: 0.3;
}

.listNameIndex:hover {
  color: rgba(0, 0, 0, 0.3);
}

/* Show Page */

.itemLine {
  width: 100%;
}

.showListItem {
  width: 80%;
  margin: 15px auto 0 auto;
  cursor: pointer;
}

.isCompleted {
  margin: auto;
}

.isCompleted label {
  font-size: 10px;
}

#newBucketList form {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}

form #newBucketInput {
  min-width: 32%;
  margin-left: auto;
  margin-right: auto;
}

form #newBucketSubmit {
  /* width: 30%; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;

  background-color: rgba(0, 0, 0, 0);
  
  font-weight: bolder;
  border: 0px;
  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.formfields {
  display: flex;
  justify-content: space-between;
}

.formfields label {
  margin-left: 2vw;
  width: 40%;
  text-align: left;
}

.formfields input {
  text-align: left;
  width: 60%;
}

.formfields #checkboxInput {
 width: 60%; 
 display: flex;
 flex-flow: row nowrap;
}

#checkboxInput .completedBox {
  width: 10%;
}

#checkboxInput input[type="text"] {
  width: 90%;
}


/* SEARCH FIX */

.listDivSearch {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
  margin-top: 2vh;
}

.listItemsSearch {
  position: relative;
}

#searchItemImg img{
  width: 100%;
  height: auto;
  padding-bottom: 2vh;
}

#searchItemTitle {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  
  background: rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: bolder;
  height: fit-content;
  border-radius: 0px 0px 10px 10px;
}

#searchItemCity {
  position: absolute;
  top: 0;
  right: 1vw;
  /* text-align: center; */

  font-size: smaller;
  color: white;
  font-weight: bolder;
}